.home-container {
    width: 100vw;
    display: flex;
    align-content: center;
}

.card {
    background-color: white;
    margin: 10px auto auto auto;
    padding: 2em;
    height: 25vh;
    width: 25vw;
    border-radius: 5px;
}