.modal {
    width: 50vw;
    height: 50vh;
    margin-top: 1em;
    border-radius: 10px;
    transition: 
        transform .6s .1s,
        opacity .7s;
    border: none;
    display: flex;
}

.is-modal-closed {
    transform: translateY(-100vh);
    opacity: 0;
}

.modal button {
    padding: 1em;
    border: none;
    font-size: 1em;
    background-color: lightblue;
    border-radius: 5px;
}

.form-container {
    display: flex;
    width: 25vw;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}