nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.navigation {
    background: lightgoldenrodyellow;
    padding: 1em;
}

.nav-links {
    width: 175px;
    display: inline;
    list-style: none;
}

.hero {
    display: flex;
}