.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  padding: 0 25px;
}

.App-header {
  background-color: rgba(250, 250, 210, 75%);
  height: 75px;
  padding: 20px;
  color: darkslategrey;
}

.App-intro {
  font-size: large;
}